*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(117, 117, 117, 0.336) !important;
}
/* Cuerpo de la calculadora */

#calculator-body-center{
    justify-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    background-color: rgba(100, 100, 100, 0.692);
    opacity: 0.5;
    width: 380px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1.2rem;
    border-radius: 20px;
}

/* Pantalla de la calculadora */
#resultado{
    margin-left: 0.5rem;
    width: 300px;
    height: 3rem;
    margin-bottom: 1.5rem;
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 20px;
}
/* Estilizado de botones */
.num-container button{
    width: 57px;
    height: 57px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    margin-left: 0.7rem;
    border-radius: 10px;
    background-color: white;
    font-weight: 900;
    border: 0;
    transition: all 0.3s ease-in;
    font-size: 18px;
}
.num-container button:hover{
    transform: scale(1.1);
    font-weight: 900;
    background-color: rgba(61, 61, 61, 0.692);
    color: white;
}
#igual{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.3s;
    animation: 1.6s igual_animate infinite alternate linear;
}
@keyframes igual_animate{
    0%{
        opacity: 0.9;
    }
    30%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.7;
    }
}

#recolor{
    background-color: rgba(37, 37, 37, 0.692);
    color: white;
}
/* Credits */
.Credits{
    color: rgb(114, 114, 114);
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    font-weight: 500;
}

/* responsive */
@media(max-width:500px) and (min-width:370px){
    #calculator-body-center{
        margin-top: 0;
    }
    .Credits{
        display: none;
    }
}